<h3>Add Groups</h3>
<form action="/groups/new" method="POST" id="groupform">
	<input type="text" name="group[name]"  value="Enter Group Name" required/>
	<input type="submit" value="Submit" />
</form>
<textarea name="group[description]" form="groupform" required>Description</textarea>