<h3>Add Items</h3>
<form action="/items/new" method="POST" id="itemform">
	<input type="text" name="item[name]"  value="Enter Item Name" required/>
	<input type="text" name="item[price]" value="Enter Item Price" required/>
	<input type="submit" value="Submit" />
</form>
Group:
<select name="group_id" form="itemform" required>
  <% @groups.each do |group| %>
  <option value="<%= group.id %>"><%= group.name %></option>
  <% end %>
</select>
<br />
<textarea name="item[description]" form="itemform" required>Description</textarea>