<!DOCTYPE HTML>
<html>
<head>
<!-- Styles -->
<link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
	<!-- Bootstrap jQuery Plugins, compiled and minified -->
	<script src="/js/bootstrap.min.js"></script>
</body>